/* Parent  */
.entry-content .wp-block-genesis-blocks-gb-columns.alternate {
    padding-top: 6% !important;
    padding-bottom: 6% !important;
}
.entry-content div.alternate:nth-of-type(even) {
    background-color: #fdfdfd !important;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

@media only screen and (min-width: 600px) {
.entry-content div.alternate:nth-of-type(odd) .wp-block-genesis-blocks-gb-columns .gb-layout-column-wrap {
    grid-template-columns: repeat(2, 1fr);
} 
.entry-content div.alternate:nth-of-type(odd) .wp-block-genesis-blocks-gb-columns .gb-layout-column-wrap .gb-block-layout-column:nth-of-type(1) 
{
    grid-column: 2 !important;
} 
.entry-content div.alternate:nth-of-type(odd) .wp-block-genesis-blocks-gb-columns .gb-layout-column-wrap .gb-block-layout-column:nth-of-type(2) 
{
    grid-column: 1 !important;
}     
}