.container-fixed {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}
.container-straight {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -o-transform: skew(0deg, -3.5deg);
    -webkit-transform: skew(0deg, -3.5deg);
    -moz-transform: skew(0deg, -3.5deg);
    -ms-transform: skew(0deg, -3.5deg);
    transform: skew(0deg, -3.5deg);
}
.container-skew {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -o-transform: skew(0deg, 3.5deg);
    -webkit-transform: skew(0deg, 3.5deg);
    -moz-transform: skew(0deg, 3.5deg);
    -ms-transform: skew(0deg, 3.5deg);
    transform: skew(0deg, 3.5deg);
}
div#primary main#main div#header-hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: -65px;
    padding: 175px 0 120px;
    text-align: center;
    font-size: 16px;
}
div#primary main#main div#header-hero div.container-straight div.container-fixed > h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: "Oxygen";
    color: #ffffff;
    font-weight: 800;
    font-size: 3.9375em;
    line-height: 65px;
}
/*region Bootstrap Customizations */
.jumbotron {
    border-radius: 0;
}
/*endregion*/

/*region Hero - Simple */
.bd-masthead {
    padding: 7rem 0;
    background: linear-gradient(
        165deg, #E4F0FB 50%, #fff 50%);
    position: relative;
    margin-bottom: -6rem;
}
/*endregion*/

/*region Banner Styles*/
.banner-text-container {
    border: 3px solid #174368;
}
#hero-banner {
    overflow: hidden;
    position: relative;
    min-height: 600px;
    top: 0;
    z-index: 1;
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero-banner::after {
    background: #fff;
    bottom: -78px;
    content: "";
    height: 120px;
    left: 0;
    position: absolute;
    transform: skewY(
            3.5deg
    );
    width: 100%;
    z-index: 1;
}
.hero-headline {
    font-weight: 800 !important;
}
.hero-subheadline {
    letter-spacing: .02rem;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: #ce742e;
}
.jumbotron h1, .jumbotron p.lead {
    letter-spacing: -.02rem;
    font-weight: bold;
    line-height: 1.3;
}
.jumbotron p.subheading {
    display: inline-block;
    background-color: rgba(255,255,255,.5);
    border-radius: 1000px;
    padding: 1px 2rem;
    letter-spacing: .02rem;
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 500;
}
.jumbotron p.lead-small {
    font-size: 1.5rem;
    line-height: 1.3;
}
.jumbotron ul.list-group li a, .jumbotron ul.list-group li a:visited {
    color: rgb(13, 110, 253);
}
.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bp-top, .bg-image-top {
    background-position: top !important;
}
#locksmith-banner-icons + h1 {
    margin-top: 0;
    padding-top: 0;
}
.hero-alert {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .005rem;
    line-height: 1.1;
}
.hero-phone-alert {
    white-space: nowrap;
}
.hero-phone-alert:hover {
    color: #fff;
    text-decoration: none;
}
/*endregion*/
/****************************************
*** MEDIA QUERIES - MAXIMUMS ***
*****************************************/
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .jumbotron h1 {
        line-height: 1;
    }
    .jumbotron ul.list-group li {
        text-align: left;
        width: 100%;
    }
}
@media (min-width: 992px) {
    .jumbotron ul.list-group li:not(:last-of-type) {
        border-right: 1px solid #ccc;
    }
    .jumbotron ul.list-group li:first-of-type {
        padding-left: .25rem !important;
    }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .jumbotron p.subheading {
        background-color: transparent;
    }
    .jumbotron h1 {
        font-size: 10vw;
        line-height: 1.2;
    }
    .jumbotron p.lead {
        font-weight: 500;
        font-size: 1.25rem;
    }
    .hero-phone-alert-container {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .hero-phone-alert {
        display: inline-block;
        margin: .5rem auto 0;
    }
    .hero-alert {
        font-size: 1.1rem;
    }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}




