
h1,h2,h3,h4 {
    font-family: 'Source Sans Pro', sans-serif !important;
    color: inherit !important;
}
header.site-header div#brand-info div.container-fixed div#brand-logo>a img {
    max-width: 200px;
}
.anti {
    -webkit-font-smoothing: antialiased;
}
.modal-new .modal-logo {
    max-height: 50px;
}
.modal-callouts [class*="col"]:not(:last-of-type) {
    border-right: 1px solid #eee;
}
a, a:focus, a:visited {
    color: #0d6efd;
}

.close {
    opacity: 1;
    padding-top: 0.25rem;
    margin-right: -1.25rem;
}
#auto-key-icon {
    filter: invert(89%) sepia(100%) saturate(0%) hue-rotate(353deg) brightness(104%) contrast(101%);
    max-height: 16px;
    margin-right: .3rem;
}
#fixed-header .logo img {
    max-width: 85px;
}
header.site-header.is-scrolling #auto-key-icon {
    margin-left: 3rem;
}
h1,h2,h3,h4,h5 {
    font-weight: bold;
    text-transform: none !important;
}
h2.widget-title {
    display: none;
}

header.site-header div#pre-nav div.container-fixed {
    padding: 5px 0;
}
header.site-header div#brand-info div.container-fixed {
    padding: 15px 0;
}
#site-navigation .container-fixed {
    padding: 0 0px;
}
.container-fixed {
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
.section-container {
    padding: 2rem 0;
}
.content-section .row {
    padding: 2.5rem 0;
}
.content-section .section-heading {
    margin-bottom: 0;
    padding-bottom: 0;
}
/*endregion*/
/*region Colors / Backgrounds */
.bg-none, .bg-transparent {
    background: transparent !important;
}
.bg-gold {
 background-color: rgba(206, 116, 46, 1);
}
.bg-gold-light {
 background-color: rgba(206, 116, 46, .1);
}
/*endregion*/
h1,h2,h3,h4,h5 {
    font-family: 'Oxygen', sans-serif;
}
.font-source,
span,body,strong
{
    font-family: 'Source Sans Pro', sans-serif !important;
}
h3 {
    text-transform: none !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.fw-900 {
    font-weight: 900;
}
/* MH Custom */
.btn-link {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: "Source Sans Pro";
    font-weight: 400;
    color: #174368;
    text-transform: uppercase;
    border: 2px solid #174368;
    padding: 15px;
    bottom: 0;
    right: 70px;
    font-size: 1.125em;
    margin: 0 auto;
    display: inline-block;
}
.btn-link:hover {
    background-color: #174368;
    color: #ffffff;
    text-decoration: none !important;
}
.btn.font-lg {
    font-size: 1.1rem;
}
.gold {
    color: #ce742e;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

div.schema > span {
    font-weight: bold;
}
.copy-large, div.schema > span, .bullets-large li {
    font-size: 1.5rem;
    line-height: 1.2;
}
.bullets-large {
    padding-inline-start: 0;
}
.skew-bottom::after {
    transform: skewY(
            361.5deg
    ) !important;
}
#home-hero {
    overflow: hidden;
    position: relative;
    height: 600px;
    top: 0px;
    z-index: 1;
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel{
    margin-top: 50px;
}
.carousel-caption{
    z-index: 1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
}
h1.page-title {
    color: #174368;
    font-family: "Oxygen";
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 45px;
}
p.page-subtitle {
    font-weight: 500 !important;
}
ul.flush {
    padding-inline-start: 0;
}
.no-borders, .no-border {
    border: none;
}
.text-white {
    color: #fff !important;
}
.text-grey {
    color: #606671 !important;
}
.text-blue {
    color: #174368 !important;
}
.text-orange {
    color: #ce742e !important;
}
.bg-blue,.bg-brand {
    background-color: #174368;
}
.btn {
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    padding: .6rem 2rem;
}
.bg-orange {
    background-color: #ce742e !important;
}
.btn.bg-orange[class*="border"], input[type="submit"],
.btn.bg-orange
{
    border-color: #AF6228 !important;
}
.bg-grey {
    background-color: #f8f8f8;
}
.bg-light-blue {
    background-color: #E4F0FB;
}
.inverse-orange {
    color: #fff;
    margin-left: .25rem;
    font-weight: 900 !important;
    border-bottom: 2px solid;
}
.bb-grey {
    border-bottom: 1px solid #eee;
}
.tdu {
    border-bottom: 2px solid;
}
.fs-2 {
    font-size: 2rem !important;
}
.ttc {
    text-transform: capitalize;
}
.jumbotron.single-post {
    border-bottom: 5px solid #174368;
}
.custom-template h2 {
    text-transform: none;
}
.banner-heading {
    font-size: 4.5vw;
}
blockquote {
    margin-left: 0;
    border-left: 3px solid;
}
blockquote p {
    padding-left: 1.5rem;
    font-size: 1.25rem;
    line-height: 130%;
    font-style: italic;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.date-published {
    display: inline-block;
    background: rgba(255,255,255,.3);
    padding: 3px 20px;
    border-radius: 1000px;
    position: relative;
    top: 1rem;
}
.safe-categories .card {
    border: none !important;
}
header.site-header div#brand-info div.container-fixed div#brand-phone>p {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}
.genesis-container .entry-content .section-heading {
    padding-bottom: 3rem;
}
.genesis-container .entry-content div[class*="section-blog-posts"] h3 {
    font-size: 1.5rem;
}
.genesis-container .entry-content div[class*="section-blog-posts"] h3 > a {
    color: #174368;
}
.genesis-container .entry-content details > summary {
    font-size: 1.25rem;
}
.genesis-container .entry-content strong {
    font-weight: 600;
}

.mobile-cta-container > div:first-of-type a {
    box-shadow: none !important;
    font-size: 1.9rem !important;
    color: #ce742e;
}
.mobile-cta-container a {
    font-size: 1.2rem !important;
    text-transform: none !important;
    letter-spacing: 0;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}
.mobile-cta-container .or p {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    line-height: 0.1em !important;
    margin: 10px 0 20px;
}
.mobile-cta-container .or p span {
    background:#fff;
    padding:0 12px;
}
.locksmith-cta-container {
    border-color: #eee !important;
}
.callout-bullets > li {
    padding: .2rem 0;
    font-weight: 600;
}
.genesis-container .border-light {
    border-color: #f1f1f1!important;
}
.g-text,
.genesis-container .entry-content .wp-block-genesis-blocks-gb-columns:not(.gpb-altitude-section-call-to-action) .wp-block-genesis-blocks-gb-column p:not(.custom-text),
div[class*="authority-section-quote"] .gb-block-layout-column-inner p > em,
.genesis-container ul li {
    color: #344854;
    line-height: 1.4;
    font-size: 1.25rem;
    padding: 0.25rem 0;
}
.modal-new .close {
    opacity: .6;
}
.gform_footer input[type="submit"] {
    background-color: #ce742e !important;
    color: #fff !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
    webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 20%) !important;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 20%) !important;
}
.gform_footer input[type="submit"]:hover {
    box-shadow: none !important;
}
.anchor-container {
    scroll-padding-top: 150px;
}
/****************************************
*** MEDIA QUERIES - MINIMUMS ***
*****************************************/
/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}
/* Large devices (desktops, 992px and UP) */
@media (min-width: 992px) {
    .genesis-container .entry-content h1:not(.custom) {
        font-size: 3rem !important;
        line-height: 1.05 !important;
        margin-bottom: 1rem;
    }
    .section-heading > .gb-layout-column-wrap {
        max-width: 840px !important;
    }
}
/* Medium devices (tablets, 768px and UP) */
@media (min-width: 768px) {
    header.is-scrolling .container-fixed .global-alert {
        padding-left: 2rem;
    }
    #gform_wrapper_2 {
        margin-top: 2rem;
    }
    .close {
        opacity: 1;
        position: absolute;
        right: 10px;
        top: 5px;
    }
    .hero-headline {
        font-size: 3.5rem;
    }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/****************************************
*** MEDIA QUERIES - MAXIMUMS ***
*****************************************/
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #brand-info > .container-fixed,
    header.site-header div#brand-info div.container-fixed {
        padding: 0 !important;
    }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {

    /* Home */
    .section-icon {
        bottom: 0 !important;
        margin-bottom: 1.5rem;
    }
    .locksmith-col,
    .service-col,
    .safe-col
    {
        margin-bottom: 1.5rem;
        padding: 1.5rem 1.5rem 1rem !important;
    }
    .hero-home .service-col,
    .safe-col
    {
        background-color: #fafafa;
        border-radius: 4px;
    }
    .hero-home .service-col figure
    {
        border-right: none !important;
        padding: 0 !important;
    }

    .hero-home .service-col figure > img,
    .locksmith-col figure > img,
    .safe-col figure > img
    {
        border-radius: 6px;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }
    .hero-home .service-col h4 {
        font-size: 1.5rem;
    }
    .hero-home .service-col ul {
        margin-left: 1.25rem !important;
    }
    .hero-home .service-col p > a {
        display: block;
        text-align: center;
    }
    .home-callout .callout-col {
        margin: 0 1rem;
        width: auto;
    }
    /* Home (Reviews) */
    #google-business-reviews-rating .listing li {
        display: flex;
        justify-content: center;
        background-color: #fff;
        border-radius: 6px;
        padding: 1rem;
    }
    #google-business-reviews-rating .listing li span.author-avatar {
        display: inline-block;
        width: 100%;
        flex: none;
    }
    #google-business-reviews-rating .listing li span.author-avatar a {
        margin-left: auto;
        margin-right: auto;
    }
    #google-business-reviews-rating .listing li span.review-meta {
        flex: none;
    }
    #google-business-reviews-rating .listing li div.text-excerpt,
    #google-business-reviews-rating .listing li div.text
    {
        padding-inline-start: 0;
    }
    #menu-responsive .search-field-row {
        display: block;
    }
    #menu-responsive #searchform .search-field {
        line-height: 1.25;
        font-size: 1.1rem;
        width: 80% !important;
        margin-left: 1rem;
        margin-bottom: 1rem;
        border-color: #aaa;
        padding-top: .25rem;
        padding-bottom: .25rem;
    }
    #menu-responsive #searchform i {
        color: #444 !important;
        margin-left: .5rem;
    }
    header.site-header div#brand-info div.container-fixed div#menu-responsive div#menu-responsive-container>div.menu-primary-menu-container ul.menu>li>a {
        display: inline-block;
    }
    .gform_footer input[type="submit"] {
        width: 100% !important;
    }
    #custom-product-single {
        margin-top: 5rem !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .warranty ul.list-group li:first-of-type {
        padding-left: 0;
    }
    .attributes .card .card-header > p {
        font-size: .9rem;
        font-weight: 600;
    }
    #breadcrumb-container {
        display: none;
    }
    #main > .container-fixed {
        margin: 0;
        padding: 0;
    }
    header.site-header div#brand-info div.container-fixed div#brand-logo {
        margin-left: 10px;
    }
    .hero-new .gb-block-layout-column-inner > .wp-block-genesis-blocks-gb-columns {
        padding-bottom: 2rem !important;
    }
    .mobile-cta-container > div:first-of-type a {
        box-shadow: none !important;
        font-size: 1.9rem !important;
        color: #ce742e;
    }
    .mobile-cta-container a {
        font-size: 1.2rem !important;
        text-transform: none !important;
        letter-spacing: 0;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
    }
    .genesis-container .entry-content .mobile-cta-container .or p {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ddd;
        line-height: 0.1em !important;
        margin: 10px 0 20px;
    }
    .mobile-cta-container .or p span {
        background:#fff;
        padding:0 12px;
    }
    .modal-new .modal-logo {
        max-height: 26px;
    }
    .modal-new .close {
        float: right;
        position: relative;
        top: 2px;
        left: 14px;
        font-size: 1.5rem;
    }
    header.site-header.is-scrolling div#brand-info {
        display: flex;
    }
    p {
        font-size: 1.1rem;
        line-height: 1.5;
    }
    header.site-header div#brand-info {
        min-height: 70px;
        display: flex;
        align-items: center;
    }
    .mobile-cta-container a.btn {
        display: block !important;
    }
    .gb-block-layout-column-inner h1 {
        font-size: 2rem !important;
        font-weight: bolder;
        line-height: 1.1 !important;
        margin-bottom: 1.25rem;
        margin-top: .5rem;
    }
    .genesis-container .entry-content .wp-block-genesis-blocks-gb-columns:not(.gpb-altitude-section-call-to-action).wp-block-genesis-blocks-gb-column p,
    div[class*="authority-section-quote"] .gb-block-layout-column-inner p > em,
    .genesis-container ul li
    {
        color: #344854 !important;
        line-height: 1.2 !important;
        font-size: 1.2rem !important;
    }
    /* GENESIS: Full-width CTA*/
    .genesis-container .entry-content > .gpb-altitude-section-call-to-action h2 {
        color: #ffffff;
        font-size: 1rem !important;
        text-transform: uppercase !important;
        letter-spacing: 1px;
    }
    .genesis-container .entry-content .gpb-altitude-section-call-to-action h2 + p {
        font-size: 2rem !important;
    }
    .genesis-container .entry-content .gpb-altitude-section-call-to-action .cta-list-container p {
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }
    header.site-header div#brand-info div.container-fixed div#brand-phone {
        background-color: transparent;
    }
    div#brand-phone h3 {
        text-transform: uppercase !important;
        letter-spacing: .05rem;
        -webkit-font-smoothing: antialiased;
        font-weight: bolder;
        margin-bottom: 2px;
        color: #606671 !important;
    }
    header.site-header div#brand-info div.container-fixed div#brand-phone>p
    {
        letter-spacing: .035rem;
        font-weight: 700;
        font-size: 17px;
    }

    /* Locksmith (Testimonials) */
    div[class*="authority-section-quote"] {
        background-color: #0e293f !important;
        padding: 2.5rem 2rem 2rem !important;
    }
    div[class*="authority-section-quote"] .gb-block-layout-column-inner p > em,
    div[class*="authority-section-quote"] .gb-block-layout-column-inner p
    {
        color: #fff !important;
    }
     /* Locksmith (Services) */
    .genesis-container div[class*="feature-text-columns"] {
        padding: 0 !important;
    }
    .genesis-container div[class*="feature-text-columns"] div[class^="gb-block-layout-column-"] .wp-block-genesis-blocks-gb-column:not(:last-of-type)
    {
        padding-bottom: 2.25rem;
        margin-bottom: 2.25rem;
    }
    .genesis-container .entry-content > .wp-block-genesis-blocks-gb-columns {
        padding-left: 8% !important;
        padding-right: 8% !important;
    }
    .genesis-container .entry-content .gpb-altitude-section-call-to-action {
        padding-left: 6% !important;
        padding-right: 6% !important;
    }
    div:not(#genesis-custom-template) .genesis-container .entry-content > .wp-block-genesis-blocks-gb-columns:not(.hero-new) {
        padding-top: 3.25rem !important;
        padding-bottom: 3.25rem !important;
    }
    .genesis-container .entry-content .logo-bar {
        margin-top: 0 !important;
    }
    .genesis-container div[class*="feature-text-columns"] .gb-layout-column-wrap .wp-block-genesis-blocks-gb-column h4 {
        color: #344854 !important;
    }
    .genesis-container div[class*="feature-text-columns"] .gb-layout-column-wrap .wp-block-genesis-blocks-gb-column h4 + p {
        margin-bottom: 0;
    }
    .genesis-container div[class*="feature-text-columns"] .gb-layout-column-wrap .wp-block-genesis-blocks-gb-column:not(:last-of-type) {
        border-bottom: 1px solid #eee;
    }
    .genesis-container .entry-content .section-heading {
        padding-bottom: 2.25rem;
    }
    .genesis-container .entry-content div.alternate .gpb-device-tablet {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        border: none;
    }
    /* Header / Navigation */
    #pre-nav {
        display: none !important;
    }
    .scrolling-brand-phone {
        display: none !important;
    }
    /* Hero Banner */
    .gold {
        letter-spacing: 4px;
        text-transform: uppercase;
        font-weight: 300;
    }
    #safe-categories-page h1 {
        margin-top: 2.5rem;
    }
    .safe-categories {
        box-shadow: 0 1rem 1rem rgba(0,0,0,.1)!important;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #ddd;
    }
    .safe-categories:hover {
        box-shadow: none;
    }
    .safe-categories .card, .safe-categories .card h2  {
        text-align: center;
    }
    .safe-categories .card h2 {
        margin-bottom: 0;
    }
    .page-title {
        font-size: 2.15rem !important;
        font-weight: bold;
        letter-spacing: -.03rem;
        line-height: 1.05 !important;
    }
    h2,
    .genesis-container h2.has-large-font-size
    {
        font-size: 1.75rem !important;
    }
    .banner-heading {
        font-size: 7vw;
    }
    blockquote p {
        font-size: 1.1rem;
    }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    header.site-header div#brand-info div.container-fixed div#brand-phone {
        width: auto;
        padding: 2px 25px;
        margin-left: -12%;
    }
}




