/* Single-product redesign */
#custom-product-single .woocommerce-product-gallery {
	width: 100% !important;
}
#custom-product-single table.shop_attributes {
	border-top: none;
}
#custom-product-single table.shop_attributes th {
	width: auto;
}
#custom-product-single table.shop_attributes th,
#custom-product-single table.shop_attributes td
{
	font-size: 1.1rem;
	font-style: unset;
}
#custom-product-single .tab-content>.active {
	padding: 1.5rem .5rem;
}

/* Attribute Cards */
.attribute-icons {
	max-height: 30px;
	opacity: .5;
}
/* CTA */
#custom-product-single .safe-cta .cta-callouts li {
	font-size: 1rem;
}
/* Entry bullets */
#custom-product-single .post-excerpt.bullets h2 {
	font-size: 1.2rem;
	text-transform: capitalize;
}
#custom-product-single ul.amsec-icon-list {
	padding-inline-start: 1rem;
	margin-left: 1.5rem;
	list-style-type: disc;
}
#custom-product-single ul.amsec-icon-list li {
	font-size: 1.25rem;
	padding: .35rem 0;
}
#custom-product-single ul.amsec-icon-list li i {
	display: none;
}

/*  Global (Styles)  */
.btn-shadow {
	box-shadow: 0 .15rem .5rem rgba(0,0,0,.15)!important;
}
.block {
	display: block;
}
/* All Safe Pages */
li.product a.product_type_simple {
	display: none !important;
}
.woocommerce-ordering {
	display: none;
}
.alert {
	border-radius: 0;
	margin-bottom: 0;
}
.safe-alert-message p, safe-alert-message a {
	margin-bottom: 0;
}
.safes-alert-btn {
	white-space: nowrap;
	background-color: #ce742e;
    color: #fff;
    padding: .25rem .5rem;
    border-radius: 10px;
    margin-left: .5rem;
}
.safes-alert-btn:hover {
	color: #fff;
}
.safes-alert-btn:visited {
	color: #fff;
}
#breadcrumb-container {
	background-color: #f7f7f7;
}
ol[typeof="BreadcrumbList"] {
	padding: .4rem 0;
	margin-bottom: 0;
	text-align: right;
	list-style: none;
}
ol[typeof="BreadcrumbList"] li {
	display: inline;
	padding: 0 .5em;
}
ol[typeof="BreadcrumbList"] li span {
	font-size: .9em;
	color: #174368;
}
ol[typeof="BreadcrumbList"] li:last-of-type span {
	font-weight: bold;
}
/* Safe Details Page */
div.product div.summary.entry-summary h3.product_title.entry-title {
	display: none;
}
.all-safes-link {
	position: relative;
	top: .5em;
}
.all-safes-link a {
	text-decoration: none !important;
}
.all-safes-link a:hover {
	cursor: pointer;
}
.product-detail-heading {
	color: #174368;
	line-height: 1.1;
	font-weight: bold;
	margin-bottom: 0;
}
.product-detail-subheading {
	font-style: italic;
}
.woocommerce-breadcrumb {
	display: none !important;
}
/* Safe Category Page*/
#main > .container-fixed a {
	text-decoration: none;
}
.product-list-item .card-header {
	min-height: 3.25rem;
}
div.product-list-item .manufacturer-logo {
	max-width: 75px;
}
/* Media Queries */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#safes-phone-container {
		display: none !important;
	}
	#brand-contact {
		display: none;
	}
	.product-detail-heading {
		font-size: 3em;
	}
	.product-detail-subheading {
		font-size: 1.5em;
	}
}
/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
	#safes-phone-container h3 {
		display: none;
	}
	#safes-phone-container p {
		float: right;
		font-size: 1rem;
		position: relative;
		top: .9rem;
	}
	#safes-phone-container a {
		font-weight: bold;
		background: #ce742e;
		color: #fff;
		border-radius: 20px;
		padding: .2rem .75rem .25rem;
	}
	#safes-phone-container i {
		margin-right: .4rem;
	}
	#brand-phone h3 {
		position: relative;
		top: 2px;
	}
	.safe-alert-message p {
		line-height: 150%;
	}
	.safes-alert-btn {
		box-shadow: 0 .15rem .5rem rgba(0,0,0,.15)!important;
		padding: .1rem .5rem .175rem;
		position: relative;
		top: 2px;
	}
}